<footer id="site-info">
    <p>
        Contáctanos en <a href="https://twitter.com/gulagmexico" target="pelican">Twitter</a> , <a href="https://t.me/joinchat/AhKXM0m4OTrdeN2x2yz1VQ">Telegram</a> , <a href="https://www.facebook.com/groups/282427405174957/">Facebook</a> , <a href="https://www.youtube.com/channel/UCTDFuE72U4L1NknVbsXH32g">YouTube</a> , <a href="https://discord.gg/SgCr4gu3P5">Discord</a> , <a href="https://fosstodon.org/@gulagmexico">Mastodon</a> , <a href="https://www.instagram.com/gulagmexico">Instagram</a> y <a href="https://github.com/GULAG">Github</a>.
    </p>
</footer>