{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ article.summary|striptags }}">
    <meta name="keywords" content="{{ [article.tags|join(', '), article.category]|join(', ') }}">
    <meta name="author" content="{{ article.author.name }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ SITETWITTER }}">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.summary|striptags }}">
{% if article.image %}
    <meta name="twitter:image" content="{{ SITEURL }}/{{ article.url }}{{ article.image }}">
{% elif article.preview %}
    <meta name="twitter:image" content="{{ SITEURL }}/{{ article.url }}{{ article.preview }}">
{% endif %}
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
{% if article.image %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.url }}{{ article.image }}">
{% elif article.preview %}
    <meta property="og:image" content="{{ SITEURL }}/{{ article.url }}{{ article.preview }}">
{% endif %}
    <meta property="og:description" content="{{ article.summary|striptags }}">
    <meta property="og:site_name" content="{{ SITENAME }}">
{% endblock %}

{% block content %}
    <article>
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Article",
                "publisher": {
                    "@type": "Organization",
                    "name": "{{ SITENAME }}",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "{{ SITEURL }}/{{ SITELOGO }}"
                    },
                    "url": "{{ SITEURL }}"
                },
                "author": "{{ article.author }}",
                "name": "{{ article.title }}",
                "headline": "{{ article.title }}",
                "description": "{{ article.summary|striptags }}",
                "dateCreated": "{{ article.date }}",
                "datePublished": "{{ article.date }}",
                "dateModified": "{{ article.modified }}",
                {% if article.image %}
                "image": "{{ SITEURL }}/{{ article.category }}/{{ article.slug }}/{{ article.image }}",
                {% elif article.preview %}
                "image": "{{ SITEURL }}/{{ article.category }}/{{ article.slug }}/{{ article.preview }}",
                {% else %}
                "image": "{{ SITEURL }}/{{ SITELOGO }}",
                {% endif %}
                "url": "{{ SITEURL }}/{{ article.url }}"
            }
        </script>
        <h2>{{ article.title }}</h2>
        <p class="lead">{{ article.summary | striptags }}</p>
        <p>{{ article.date | strftime('%d %B %Y') }}</p>
        {{ article.content }}
    </article>
{% endblock %}
