<footer class="text-muted">
    <div class="container">
        <p>
            Protegidos por la licencia <a href="{{ SITEURL }}/licencias/gfdl-es/">GFDL</a>.
            Se otorga permiso para copiar, distribuir y/o modificar estos documentos.
            Sitio web elaborado con <a href="https://blog.getpelican.com/">Pelican</a> que es programado en <a href="https://python.org/">Python</a>; el código fuente está en <a href="https://github.com/MovimientoLibre/plataforma.web">GitHub</a> protegido por la licencia <a href="{{ SITEURL }}/licencias/gpl-2-es/">GPLv3</a>.
        </p>
    </div>
</footer>
