name: Build site

on: 
  pull_request:
    branches:
      - pelican

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
    - name: Set up uv
      uses: astral-sh/setup-uv@v4
    - name: Install dependencies
      run: |
        uv sync --frozen
    - name: Install theme
      run: |
        uv run pelican-themes -i pelican-themes/bs5
    - name: Build site
      run: |
        uv run pelican content -o output -s pelicanconf.py
